---
const currentPath = Astro.url.pathname;
---
<nav class="navbar">
  <a class="nav-logo" href="/">
    <img src="/images/logo-full.svg" alt="Forendors" width="140" height="72" style="height: auto;">
  </a>
  <a href="https://www.forendors.cz" class="nav-cta">Začít tvořit</a>
</nav>
