<div class="newsletter">
  <div class="newsletter-icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="4" width="20" height="16" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
  </div>
  <h2>Nové články do schránky</h2>
  <p>Přihlaste se k odběru a nepropásněte tipy, rozhovory a novinky ze světa tvorby.</p>
  <div style="display: block; visibility:none;" class="qndTrigger" data-key="52e81e94eff9ccad5d1c79195dcffcb8" data-form-html-class="" data-static="true">&nbsp;</div>
</div>
<script is:inline type="text/javascript" src="https://webform.onquanda.com/static/js/webform/embedded.min.js"></script>
<script is:inline>
  var _qndPlaceholder = setInterval(function() {
    var el = document.querySelector('.qndTrigger input');
    if (el) { el.placeholder = 'Zadejte svůj e-mail'; clearInterval(_qndPlaceholder); }
  }, 300);
  setTimeout(function() { clearInterval(_qndPlaceholder); }, 10000);
</script>
